---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="http://www.w3.org/1999/xhtml">
{%- for item in collections.all %}
{%- if not item.data.noindex and item.url %}
  <url>
    <loc>{{ item.url | absoluteUrl }}</loc>
    <lastmod>{{ item.date | htmlDate }}</lastmod>
{%- set alts = collections.translations[item.data.transKey] %}
{%- if alts %}
{%- for code in site.langOrder %}{% if alts[code] %}
    <xhtml:link rel="alternate" hreflang="{{ code }}" href="{{ alts[code] | absoluteUrl }}" />
{%- endif %}{% endfor %}
{%- if alts.es %}
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ alts.es | absoluteUrl }}" />
{%- endif %}
{%- endif %}
  </url>
{%- endif %}
{%- endfor %}
</urlset>
